#zawiw-bp-memberlist .user {
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0px;
}
#zawiw-bp-memberlist .avatar {
    float: none;
}
#zawiw-bp-memberlist .email {
    font-style: italic;
    font-size: 80%;
}
#zawiw-bp-memberlist .email a {
    color: #aaa !important;
}
#zawiw-bp-memberlist-search {
    margin-bottom: 20px;
}
body{
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}